<a href="https://colab.research.google.com/github/Mercymerine/Pandas-Analysis/blob/main/chipotleee.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [4]:
url = ('https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/chipotle.tsv')

In [6]:
chipo = pd.read_csv(url, sep='\t', index_col=0)
chipo.head()

,quantity,item_name,choice_description,item_price
order_id,,,,
1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,Izze,[Clementine],$3.39
1,1,Nantucket Nectar,[Apple],$3.39
1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. See the first 10 entries

In [7]:
chipo.head(10)

,quantity,item_name,choice_description,item_price
order_id,,,,
1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,Izze,[Clementine],$3.39
1,1,Nantucket Nectar,[Apple],$3.39
1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
3,1,Side of Chips,NaN,$1.69
4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [8]:
# Solution 1

chipo.shape

(4622, 4)

In [9]:
# Solution 2
chipo.size

18488

### Step 6. What is the number of columns in the dataset?

In [10]:
chipo.shape

(4622, 4)

### Step 7. Print the name of all the columns.

In [11]:
chipo.columns

Index(['quantity', 'item_name', 'choice_description', 'item_price'], dtype='object')

### Step 8. How is the dataset indexed?

In [14]:
print(chipo.index)

Index([   1,    1,    1,    1,    2,    3,    3,    4,    4,    5,
       ...
       1831, 1831, 1831, 1832, 1832, 1833, 1833, 1834, 1834, 1834],
      dtype='int64', name='order_id', length=4622)

### Step 9. Which was the most-ordered item?

In [15]:
chipo.columns

Index(['quantity', 'item_name', 'choice_description', 'item_price'], dtype='object')

In [26]:
most_ordered = chipo.groupby('item_name')['quantity'].sum()
#print(most_ordered)
print(most_ordered.idxmax())

Chicken Bowl

### Step 10. For the most-ordered item, how many items were ordered?

In [25]:
print(most_ordered.max())

761

### Step 11. What was the most ordered item in the choice_description column?

In [30]:
most_ordered = chipo.groupby('choice_description')['quantity'].sum()
print(most_ordered.max())
print(most_ordered.idxmax())

159
[Diet Coke]

### Step 12. How many items were orderd in total?

In [31]:
chipo['quantity'].sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [32]:
chipo.dtypes

quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

#### Step 13.b. Create a lambda function and change the type of item price

In [33]:
convert_to_float = lambda x:float(x.replace('$', '')) # defines a lambda function that takes each value x in the 'item_price' column, removes the dollar sign ('$') using replace('$', ''), and converts it to a float using float().

chipo['item_price'] = chipo['item_price'].apply(convert_to_float)

print(chipo)

          quantity                              item_name  \
order_id
1                1           Chips and Fresh Tomato Salsa
1                1                                   Izze
1                1                       Nantucket Nectar
1                1  Chips and Tomatillo-Green Chili Salsa
2                2                           Chicken Bowl
...            ...                                    ...
1833             1                          Steak Burrito
1833             1                          Steak Burrito
1834             1                     Chicken Salad Bowl
1834             1                     Chicken Salad Bowl
1834             1                     Chicken Salad Bowl

                                         choice_description  item_price
order_id
1                                                       NaN        2.39
1                                              [Clementine]        3.39
1                                                   [Apple]        3.39
1                                                       NaN        2.39
2         [Tomatillo-Red Chili Salsa (Hot), [Black Beans...       16.98
...                                                     ...         ...
1833      [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...       11.75
1833      [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...       11.75
1834      [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...       11.25
1834      [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...        8.75
1834      [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...        8.75

[4622 rows x 4 columns]

#### Step 13.c. Check the item price type

In [35]:
chipo.dtypes

quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

### Step 14. How much was the revenue for the period in the dataset?

In [38]:
chipo['item_price'].sum()

34500.16

### Step 15. How many orders were made in the period?

In [37]:
chipo['quantity'].sum()

4972

### Step 16. What is the average revenue amount per order?

In [49]:
chipo.head()

,quantity,item_name,choice_description,item_price
order_id,,,,
1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,Izze,[Clementine],3.39
1,1,Nantucket Nectar,[Apple],3.39
1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [ ]:
#?????????

In [59]:
# Solution 1
revenue_order = chipo.groupby('quantity')['item_price'].sum()
print(revenue_order.mean())

3833.3511111111106

In [60]:
# Solution 2
#Count the total revenue
total_revenue = chipo['item_price'].sum()
print(total_revenue)

#Count total number of orders
total_orders = chipo['quantity'].nunique()
print(total_orders)

average = total_revenue/total_orders
print(average)

34500.16
9
3833.3511111111115

### Step 17. How many different items are sold?

In [48]:
print(chipo['item_name'].nunique())

50