<a href="https://colab.research.google.com/github/Mercymerine/Pandas-Analysis/blob/main/fiction_army.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Fictional Army - Filtering and Sorting

### Introduction:

This exercise was inspired by this [page](http://chrisalbon.com/python/)

Special thanks to: https://github.com/chrisalbon for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [18]:
import pandas as pd

### Step 2. This is the data given as a dictionary

In [19]:
# Create an example dataframe about a fictional army
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'],
            'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'],
            'deaths': [523, 52, 25, 616, 43, 234, 523, 62, 62, 73, 37, 35],
            'battles': [5, 42, 2, 2, 4, 7, 8, 3, 4, 7, 8, 9],
            'size': [1045, 957, 1099, 1400, 1592, 1006, 987, 849, 973, 1005, 1099, 1523],
            'veterans': [1, 5, 62, 26, 73, 37, 949, 48, 48, 435, 63, 345],
            'readiness': [1, 2, 3, 3, 2, 1, 2, 3, 2, 1, 2, 3],
            'armored': [1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1],
            'deserters': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
            'origin': ['Arizona', 'California', 'Texas', 'Florida', 'Maine', 'Iowa', 'Alaska', 'Washington', 'Oregon', 'Wyoming', 'Louisana', 'Georgia']}

### Step 3. Create a dataframe and assign it to a variable called army.

#### Don't forget to include the columns names in the order presented in the dictionary ('regiment', 'company', 'deaths'...) so that the column index order is consistent with the solutions. If omitted, pandas will order the columns alphabetically.

In [20]:
army = pd.DataFrame(raw_data, columns=['regimen', 'company', 'deaths', 'battles', 'size', 'veterans', 'readiness', 'armored', 'deserters', 'origin'])
print(army)

   regimen company  deaths  battles  size  veterans  readiness  armored  \
0      NaN     1st     523        5  1045         1          1        1
1      NaN     1st      52       42   957         5          2        0
2      NaN     2nd      25        2  1099        62          3        1
3      NaN     2nd     616        2  1400        26          3        1
4      NaN     1st      43        4  1592        73          2        0
5      NaN     1st     234        7  1006        37          1        1
6      NaN     2nd     523        8   987       949          2        0
7      NaN     2nd      62        3   849        48          3        1
8      NaN     1st      62        4   973        48          2        0
9      NaN     1st      73        7  1005       435          1        0
10     NaN     2nd      37        8  1099        63          2        1
11     NaN     2nd      35        9  1523       345          3        1

    deserters      origin
0           4     Arizona
1          24  California
2          31       Texas
3           2     Florida
4           3       Maine
5           4        Iowa
6          24      Alaska
7          31  Washington
8           2      Oregon
9           3     Wyoming
10          2    Louisana
11          3     Georgia

### Step 4. Set the 'origin' colum as the index of the dataframe

In [21]:
army.set_index('origin', inplace =True)

### Step 5. Print only the column veterans

In [22]:
army.columns

Index(['regimen', 'company', 'deaths', 'battles', 'size', 'veterans',
       'readiness', 'armored', 'deserters'],
      dtype='object')

In [23]:
army.veterans

origin
Arizona         1
California      5
Texas          62
Florida        26
Maine          73
Iowa           37
Alaska        949
Washington     48
Oregon         48
Wyoming       435
Louisana       63
Georgia       345
Name: veterans, dtype: int64

### Step 6. Print the columns 'veterans' and 'deaths'

In [24]:
army.columns

Index(['regimen', 'company', 'deaths', 'battles', 'size', 'veterans',
       'readiness', 'armored', 'deserters'],
      dtype='object')

In [25]:
print(army[['veterans' ,'deaths']])

            veterans  deaths
origin
Arizona            1     523
California         5      52
Texas             62      25
Florida           26     616
Maine             73      43
Iowa              37     234
Alaska           949     523
Washington        48      62
Oregon            48      62
Wyoming          435      73
Louisana          63      37
Georgia          345      35

### Step 7. Print the name of all the columns.

In [26]:
print(army.columns)

Index(['regimen', 'company', 'deaths', 'battles', 'size', 'veterans',
       'readiness', 'armored', 'deserters'],
      dtype='object')

### Step 8. Select the 'deaths', 'size' and 'deserters' columns from Maine and Alaska

In [27]:
army.head()

,regimen,company,deaths,battles,size,veterans,readiness,armored,deserters
origin,,,,,,,,,
Arizona,NaN,1st,523,5,1045,1,1,1,4
California,NaN,1st,52,42,957,5,2,0,24
Texas,NaN,2nd,25,2,1099,62,3,1,31
Florida,NaN,2nd,616,2,1400,26,3,1,2
Maine,NaN,1st,43,4,1592,73,2,0,3

In [49]:
selected = army.loc[['Maine', 'Alaska'], ['deaths', 'size', 'deserters']]
print(selected)

        deaths  size  deserters
origin
Maine       43  1592          3
Alaska     523   987         24

### Step 9. Select the rows 3 to 7 and the columns 3 to 6

In [29]:
print(army.iloc[3:7, 3:6])

         battles  size  veterans
origin
Florida        2  1400        26
Maine          4  1592        73
Iowa           7  1006        37
Alaska         8   987       949

### Step 10. Select every row after the fourth row and all columns

In [30]:
print(army.iloc[0:4, :])

           regimen company  deaths  battles  size  veterans  readiness  \
origin
Arizona        NaN     1st     523        5  1045         1          1
California     NaN     1st      52       42   957         5          2
Texas          NaN     2nd      25        2  1099        62          3
Florida        NaN     2nd     616        2  1400        26          3

            armored  deserters
origin
Arizona           1          4
California        0         24
Texas             1         31
Florida           1          2

### Step 11. Select every row up to the 4th row and all columns

In [31]:
print(army.iloc[0:4, :])

           regimen company  deaths  battles  size  veterans  readiness  \
origin
Arizona        NaN     1st     523        5  1045         1          1
California     NaN     1st      52       42   957         5          2
Texas          NaN     2nd      25        2  1099        62          3
Florida        NaN     2nd     616        2  1400        26          3

            armored  deserters
origin
Arizona           1          4
California        0         24
Texas             1         31
Florida           1          2

### Step 12. Select the 3rd column up to the 7th column

In [32]:
print(army.iloc[:, 3:7])

            battles  size  veterans  readiness
origin
Arizona           5  1045         1          1
California       42   957         5          2
Texas             2  1099        62          3
Florida           2  1400        26          3
Maine             4  1592        73          2
Iowa              7  1006        37          1
Alaska            8   987       949          2
Washington        3   849        48          3
Oregon            4   973        48          2
Wyoming           7  1005       435          1
Louisana          8  1099        63          2
Georgia           9  1523       345          3

### Step 13. Select rows where df.deaths is greater than 50

In [33]:
army.columns

Index(['regimen', 'company', 'deaths', 'battles', 'size', 'veterans',
       'readiness', 'armored', 'deserters'],
      dtype='object')

In [34]:
deaths = army[army['deaths'] > 50]
print(deaths)

           regimen company  deaths  battles  size  veterans  readiness  \
origin
Arizona        NaN     1st     523        5  1045         1          1
California     NaN     1st      52       42   957         5          2
Florida        NaN     2nd     616        2  1400        26          3
Iowa           NaN     1st     234        7  1006        37          1
Alaska         NaN     2nd     523        8   987       949          2
Washington     NaN     2nd      62        3   849        48          3
Oregon         NaN     1st      62        4   973        48          2
Wyoming        NaN     1st      73        7  1005       435          1

            armored  deserters
origin
Arizona           1          4
California        0         24
Florida           1          2
Iowa              1          4
Alaska            0         24
Washington        1         31
Oregon            0          2
Wyoming           0          3

### Step 14. Select rows where df.deaths is greater than 500 or less than 50

In [38]:
deaths = army[(army['deaths'] > 500)| (army['deaths'] < 50)]
print(deaths)

         regimen company  deaths  battles  size  veterans  readiness  armored  \
origin
Arizona      NaN     1st     523        5  1045         1          1        1
Texas        NaN     2nd      25        2  1099        62          3        1
Florida      NaN     2nd     616        2  1400        26          3        1
Maine        NaN     1st      43        4  1592        73          2        0
Alaska       NaN     2nd     523        8   987       949          2        0
Louisana     NaN     2nd      37        8  1099        63          2        1
Georgia      NaN     2nd      35        9  1523       345          3        1

          deserters
origin
Arizona           4
Texas            31
Florida           2
Maine             3
Alaska           24
Louisana          2
Georgia           3

### Step 15. Select all the regiments not named "Dragoons"

In [40]:
army.columns

Index(['regimen', 'company', 'deaths', 'battles', 'size', 'veterans',
       'readiness', 'armored', 'deserters'],
      dtype='object')

In [41]:
dragoons = army[army['regimen']=='Dragoons']
print(dragoons)

Empty DataFrame
Columns: [regimen, company, deaths, battles, size, veterans, readiness, armored, deserters]
Index: []

### Step 16. Select the rows called Texas and Arizona

In [50]:
print(army.loc[['Texas', 'Alaska']])

       regimen company  deaths  battles  size  veterans  readiness  armored  \
origin
Texas      NaN     2nd      25        2  1099        62          3        1
Alaska     NaN     2nd     523        8   987       949          2        0

        deserters
origin
Texas          31
Alaska         24

### Step 17. Select the third cell in the row named Arizona

In [45]:
print(army.loc['Arizona'].iloc[2])

523

### Step 18. Select the third cell down in the column named deaths

In [47]:
print(army.iloc[2].loc['deaths'])

25