<a href="https://colab.research.google.com/github/Mercymerine/Pandas-Analysis/blob/main/finance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Getting Financial Data - Google Finance

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd
import yfinance as yf
from datetime import datetime

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is)

In [ ]:
start_date = '2015-01-01'
end_date = datetime.today().strftime('2024-05-08')

### Step 3. Select the Apple, Tesla, Twitter, IBM, LinkedIn stocks symbols and assign them to a variable called stocks

In [ ]:
tickers = ['AAPL', 'TSLA', 'IBM', ]

### Step 4. Read the data from google, assign to df and print it

In [ ]:
df = yf.download(tickers, start=start_date, end=end_date)

[*********************100%%**********************]  3 of 3 completed

### Step 5.  What is the type of structure of df ?

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2352 entries, 2015-01-02 to 2024-05-07
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   (Adj Close, AAPL)  2352 non-null   float64
 1   (Adj Close, IBM)   2352 non-null   float64
 2   (Adj Close, TSLA)  2352 non-null   float64
 3   (Close, AAPL)      2352 non-null   float64
 4   (Close, IBM)       2352 non-null   float64
 5   (Close, TSLA)      2352 non-null   float64
 6   (High, AAPL)       2352 non-null   float64
 7   (High, IBM)        2352 non-null   float64
 8   (High, TSLA)       2352 non-null   float64
 9   (Low, AAPL)        2352 non-null   float64
 10  (Low, IBM)         2352 non-null   float64
 11  (Low, TSLA)        2352 non-null   float64
 12  (Open, AAPL)       2352 non-null   float64
 13  (Open, IBM)        2352 non-null   float64
 14  (Open, TSLA)       2352 non-null   float64
 15  (Volume, AAPL)     2352 non-null   int64
 16  (Volume, IBM)      2352 non-null   int64
 17  (Volume, TSLA)     2352 non-null   int64
dtypes: float64(15), int64(3)
memory usage: 349.1 KB

In [ ]:
print(df.head())

Price       Adj Close                             Close              \
Ticker           AAPL         IBM       TSLA       AAPL         IBM
Date
2015-01-02  24.435266  103.354843  14.620667  27.332500  154.933075
2015-01-05  23.746893  101.728546  14.006000  26.562500  152.495224
2015-01-06  23.749125   99.534668  14.085333  26.565001  149.206497
2015-01-07  24.082134   98.884155  14.063333  26.937500  148.231354
2015-01-08  25.007433  101.033386  14.041333  27.972500  151.453156

Price                       High                               Low  \
Ticker           TSLA       AAPL         IBM       TSLA       AAPL
Date
2015-01-02  14.620667  27.860001  156.128113  14.883333  26.837500
2015-01-05  14.006000  27.162500  154.177826  14.433333  26.352501
2015-01-06  14.085333  26.857500  152.925430  14.280000  26.157499
2015-01-07  14.063333  27.049999  150.286804  14.318667  26.674999
2015-01-08  14.041333  28.037500  152.045883  14.253333  27.174999

Price                                   Open                         \
Ticker             IBM       TSLA       AAPL         IBM       TSLA
Date
2015-01-02  153.919693  14.217333  27.847500  154.216064  14.858000
2015-01-05  152.189301  13.810667  27.072500  154.177826  14.303333
2015-01-06  148.346085  13.614000  26.635000  152.648178  14.004000
2015-01-07  147.256210  13.985333  26.799999  150.286804  14.223333
2015-01-08  148.709366  14.000667  27.307501  149.369019  14.187333

Price          Volume
Ticker           AAPL      IBM      TSLA
Date
2015-01-02  212818400  5779673  71466000
2015-01-05  257142000  5104898  80527500
2015-01-06  263188400  6429448  93928500
2015-01-07  160423600  4918083  44526000
2015-01-08  237458000  4431693  51637500

### Step 6. Print all the Items axis values
#### To learn more about the Panel structure go to [documentation](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#panel)

In [ ]:
print(df.index)

DatetimeIndex(['2015-01-02', '2015-01-05', '2015-01-06', '2015-01-07',
               '2015-01-08', '2015-01-09', '2015-01-12', '2015-01-13',
               '2015-01-14', '2015-01-15',
               ...
               '2024-04-24', '2024-04-25', '2024-04-26', '2024-04-29',
               '2024-04-30', '2024-05-01', '2024-05-02', '2024-05-03',
               '2024-05-06', '2024-05-07'],
              dtype='datetime64[ns]', name='Date', length=2352, freq=None)

### Step 7. Good, now we know  the data avaiable. Create a dataFrame called vol, with the Volume values.

In [ ]:
df.columns

MultiIndex([('Adj Close', 'AAPL'),
            ('Adj Close',  'IBM'),
            ('Adj Close', 'TSLA'),
            (    'Close', 'AAPL'),
            (    'Close',  'IBM'),
            (    'Close', 'TSLA'),
            (     'High', 'AAPL'),
            (     'High',  'IBM'),
            (     'High', 'TSLA'),
            (      'Low', 'AAPL'),
            (      'Low',  'IBM'),
            (      'Low', 'TSLA'),
            (     'Open', 'AAPL'),
            (     'Open',  'IBM'),
            (     'Open', 'TSLA'),
            (   'Volume', 'AAPL'),
            (   'Volume',  'IBM'),
            (   'Volume', 'TSLA')],
           names=['Price', 'Ticker'])

In [ ]:
volumes = df['Volume']
print(pd.DataFrame(volumes))

Ticker           AAPL      IBM      TSLA
Date
2015-01-02  212818400  5779673  71466000
2015-01-05  257142000  5104898  80527500
2015-01-06  263188400  6429448  93928500
2015-01-07  160423600  4918083  44526000
2015-01-08  237458000  4431693  51637500
...               ...      ...       ...
2024-05-01   50383100  4029900  92829700
2024-05-02   94214900  3829900  89148000
2024-05-03  163224100  3400400  75491500
2024-05-06   78569700  4222300  84390300
2024-05-07   77237500  3154800  74770200

[2352 rows x 3 columns]

### Step 8. Aggregate the data of Volume to weekly
#### Hint: Be careful to not sum data from the same week of 2015 and other years.

In [31]:
df_2015 = df.loc['2015']

weekly_volume = df_2015.groupby(pd.Grouper(freq='W'))['Volume'].sum()
print(weekly_volume)

Price           Volume
Ticker            AAPL       IBM       TSLA
Date
2015-01-04   212818400   5779673   71466000
2015-01-11  1133010000  25578884  340644000
2015-01-18  1216906400  24329751  461988000
2015-01-25   794948000  32682062  243175500
2015-02-01  1863370800  34442689  235803000
2015-02-08  1083029200  23472449  285714000
2015-02-15  1212827200  19000590  607089000
2015-02-22   777419600  14759373  267441000
2015-03-01  1472864800  23996705  440518500
2015-03-08   987754000  22089218  422487000
2015-03-15  1306056400  27338465  403123500
2015-03-22  1066691600  26866615  421327500
2015-03-29   837305200  24663634  371172000
2015-04-05   648127200  17537027  358816500
2015-04-12   728830000  14557391  464620500
2015-04-19   684744400  18345061  192984000
2015-04-26   829762800  37071914  310407000
2015-05-03  1683889200  22885120  463315500
2015-05-10  1087568000  17571546  444397500
2015-05-17   833206000  14054684  373491000
2015-05-24   869189600  12488404  224650500
2015-05-31   792594400  13014331  215152500
2015-06-07   683363200  14505614  178455000
2015-06-14   880458400  19208953  218235000
2015-06-21   794100800  21718516  223942500
2015-06-28   782376000  21903659  262977000
2015-07-05   603927600  13576243  237463500
2015-07-12  1102873200  18978624  335896500
2015-07-19   756979600  17926975  202644000
2015-07-26  1377076000  38832018  288838500
2015-08-02   766394400  16088002  234559500
2015-08-09  1540002400  21075645  462262500
2015-08-16  1378868800  17887227  318492000
2015-08-23  1282036000  20760904  397080000
2015-08-30  2001452000  34034330  480624000
2015-09-06  1192776800  22407099  340023000
2015-09-13  1010650800  14558124  173832000
2015-09-20  1109104000  21675003  263856000
2015-09-27   970785200  17591628  294105000
2015-10-04  1255585200  20880565  337963500
2015-10-11  1047091200  20351186  420310500
2015-10-18   739540000  18259185  289363500
2015-10-25   886172800  43853027  429301500
2015-11-01  1289448800  36300069  238249500
2015-11-08   780813600  22520692  478933500
2015-11-15   866221200  26229915  272428500
2015-11-22   759924800  22055015  221866500
2015-11-29   438881600  13806781  164200500
2015-12-06   827063200  24002877  223327500
2015-12-13   755416000  22338062  213450000
2015-12-20  1260425600  29124197  247329000
2015-12-27   506431200  17302304   92665500
2016-01-03   495046000  14161375  160807500

### Step 9. Find all the volume traded in the year of 2015

In [30]:
df_2015 = df.loc['2015']
#print(df_2015)

total_volume = df_2015['Volume'].sum()
print(total_volume)

Ticker
AAPL    52264199600
IBM      1156439400
TSLA    16323267000
dtype: int64

### BONUS: Create your own question and answer it.

In [ ]:
#What is the shape of this dataset?
df.shape

(2352, 18)