<a href="https://colab.research.google.com/github/Mercymerine/Pandas-Analysis/blob/main/finance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Getting Financial Data - Google Finance

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [11]:
import pandas as pd
import yfinance as yf
from datetime import datetime

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is)

In [13]:
start_date = '2015-01-01'
end_date = datetime.today().strftime('2024-05-08')

### Step 3. Select the Apple, Tesla, Twitter, IBM, LinkedIn stocks symbols and assign them to a variable called stocks

In [14]:
tickers = ['AAPL', 'TSLA', 'IBM', ]

### Step 4. Read the data from google, assign to df and print it

In [15]:
df = yf.download(tickers, start=start_date, end=end_date)

[*********************100%%**********************]  3 of 3 completed

### Step 5.  What is the type of structure of df ?

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2352 entries, 2015-01-02 to 2024-05-07
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   (Adj Close, AAPL)  2352 non-null   float64
 1   (Adj Close, IBM)   2352 non-null   float64
 2   (Adj Close, TSLA)  2352 non-null   float64
 3   (Close, AAPL)      2352 non-null   float64
 4   (Close, IBM)       2352 non-null   float64
 5   (Close, TSLA)      2352 non-null   float64
 6   (High, AAPL)       2352 non-null   float64
 7   (High, IBM)        2352 non-null   float64
 8   (High, TSLA)       2352 non-null   float64
 9   (Low, AAPL)        2352 non-null   float64
 10  (Low, IBM)         2352 non-null   float64
 11  (Low, TSLA)        2352 non-null   float64
 12  (Open, AAPL)       2352 non-null   float64
 13  (Open, IBM)        2352 non-null   float64
 14  (Open, TSLA)       2352 non-null   float64
 15  (Volume, AAPL)     2352 non-null   int64
 16  (Volume, IBM)      2352 non-null   int64
 17  (Volume, TSLA)     2352 non-null   int64
dtypes: float64(15), int64(3)
memory usage: 349.1 KB

In [18]:
print(df.head())

Price       Adj Close                             Close              \
Ticker           AAPL         IBM       TSLA       AAPL         IBM
Date
2015-01-02  24.435266  103.354843  14.620667  27.332500  154.933075
2015-01-05  23.746893  101.728546  14.006000  26.562500  152.495224
2015-01-06  23.749125   99.534668  14.085333  26.565001  149.206497
2015-01-07  24.082134   98.884155  14.063333  26.937500  148.231354
2015-01-08  25.007433  101.033386  14.041333  27.972500  151.453156

Price                       High                               Low  \
Ticker           TSLA       AAPL         IBM       TSLA       AAPL
Date
2015-01-02  14.620667  27.860001  156.128113  14.883333  26.837500
2015-01-05  14.006000  27.162500  154.177826  14.433333  26.352501
2015-01-06  14.085333  26.857500  152.925430  14.280000  26.157499
2015-01-07  14.063333  27.049999  150.286804  14.318667  26.674999
2015-01-08  14.041333  28.037500  152.045883  14.253333  27.174999

Price                                   Open                         \
Ticker             IBM       TSLA       AAPL         IBM       TSLA
Date
2015-01-02  153.919693  14.217333  27.847500  154.216064  14.858000
2015-01-05  152.189301  13.810667  27.072500  154.177826  14.303333
2015-01-06  148.346085  13.614000  26.635000  152.648178  14.004000
2015-01-07  147.256210  13.985333  26.799999  150.286804  14.223333
2015-01-08  148.709366  14.000667  27.307501  149.369019  14.187333

Price          Volume
Ticker           AAPL      IBM      TSLA
Date
2015-01-02  212818400  5779673  71466000
2015-01-05  257142000  5104898  80527500
2015-01-06  263188400  6429448  93928500
2015-01-07  160423600  4918083  44526000
2015-01-08  237458000  4431693  51637500

### Step 6. Print all the Items axis values
#### To learn more about the Panel structure go to [documentation](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#panel)

In [17]:
print(df.index)

DatetimeIndex(['2015-01-02', '2015-01-05', '2015-01-06', '2015-01-07',
               '2015-01-08', '2015-01-09', '2015-01-12', '2015-01-13',
               '2015-01-14', '2015-01-15',
               ...
               '2024-04-24', '2024-04-25', '2024-04-26', '2024-04-29',
               '2024-04-30', '2024-05-01', '2024-05-02', '2024-05-03',
               '2024-05-06', '2024-05-07'],
              dtype='datetime64[ns]', name='Date', length=2352, freq=None)

### Step 7. Good, now we know  the data avaiable. Create a dataFrame called vol, with the Volume values.

In [19]:
df.columns

MultiIndex([('Adj Close', 'AAPL'),
            ('Adj Close',  'IBM'),
            ('Adj Close', 'TSLA'),
            (    'Close', 'AAPL'),
            (    'Close',  'IBM'),
            (    'Close', 'TSLA'),
            (     'High', 'AAPL'),
            (     'High',  'IBM'),
            (     'High', 'TSLA'),
            (      'Low', 'AAPL'),
            (      'Low',  'IBM'),
            (      'Low', 'TSLA'),
            (     'Open', 'AAPL'),
            (     'Open',  'IBM'),
            (     'Open', 'TSLA'),
            (   'Volume', 'AAPL'),
            (   'Volume',  'IBM'),
            (   'Volume', 'TSLA')],
           names=['Price', 'Ticker'])

In [25]:
volumes = df['Volume']
print(pd.DataFrame(volumes))

Ticker           AAPL      IBM      TSLA
Date
2015-01-02  212818400  5779673  71466000
2015-01-05  257142000  5104898  80527500
2015-01-06  263188400  6429448  93928500
2015-01-07  160423600  4918083  44526000
2015-01-08  237458000  4431693  51637500
...               ...      ...       ...
2024-05-01   50383100  4029900  92829700
2024-05-02   94214900  3829900  89148000
2024-05-03  163224100  3400400  75491500
2024-05-06   78569700  4222300  84390300
2024-05-07   77237500  3154800  74770200

[2352 rows x 3 columns]

### Step 8. Aggregate the data of Volume to weekly
#### Hint: Be careful to not sum data from the same week of 2015 and other years.

### Step 9. Find all the volume traded in the year of 2015

### BONUS: Create your own question and answer it.

In [27]:
#What is the shape of this dataset?
df.shape

(2352, 18)