<a href="https://colab.research.google.com/github/Mercymerine/Pandas-Analysis/blob/main/housing_marketing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [2]:
import pandas  as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows:
1. The first a random number from 1 to 4
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [4]:
first = pd.Series(np.random.randint(1, 4, size=100))
print(first)

second =pd.Series(np.random.randint(1, 3, size=100))
print(second)

third = pd.Series(np.random.randint(10000, 30000, size=100))
print(third)

0     2
1     3
2     1
3     2
4     2
     ..
95    1
96    1
97    3
98    1
99    2
Length: 100, dtype: int64
0     2
1     1
2     1
3     2
4     1
     ..
95    2
96    2
97    1
98    2
99    2
Length: 100, dtype: int64
0     18461
1     20082
2     20652
3     12928
4     12880
      ...
95    17368
96    24433
97    24097
98    18752
99    11431
Length: 100, dtype: int64

### Step 3. Let's create a DataFrame by joinning the Series by column

In [7]:
df = pd.concat([first, second, third], axis=1)
print(df)

    0  1      2
0   2  2  18461
1   3  1  20082
2   1  1  20652
3   2  2  12928
4   2  1  12880
.. .. ..    ...
95  1  2  17368
96  1  2  24433
97  3  1  24097
98  1  2  18752
99  2  2  11431

[100 rows x 3 columns]

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [8]:
df.columns

RangeIndex(start=0, stop=3, step=1)

In [10]:
df = df.rename(columns={0:'bedrs', 1:'bathrs', 2:'price_sqr_meter'})
print(df)

    bedrs  bathrs  price_sqr_meter
0       2       2            18461
1       3       1            20082
2       1       1            20652
3       2       2            12928
4       2       1            12880
..    ...     ...              ...
95      1       2            17368
96      1       2            24433
97      3       1            24097
98      1       2            18752
99      2       2            11431

[100 rows x 3 columns]

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [20]:
series = pd.concat([first, second, third])
print(series)

df = pd.DataFrame({'bigcolumn':series})
print(df)

0         2
1         3
2         1
3         2
4         2
      ...
95    17368
96    24433
97    24097
98    18752
99    11431
Length: 300, dtype: int64
    bigcolumn
0           2
1           3
2           1
3           2
4           2
..        ...
95      17368
96      24433
97      24097
98      18752
99      11431

[300 rows x 1 columns]

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [21]:
print(df)

    bigcolumn
0           2
1           3
2           1
3           2
4           2
..        ...
95      17368
96      24433
97      24097
98      18752
99      11431

[300 rows x 1 columns]

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [24]:
series = pd.concat([first, second, third], ignore_index=True)
print(series)

df = pd.DataFrame({'bigcolumn':series})
print(df)

0          2
1          3
2          1
3          2
4          2
       ...
295    17368
296    24433
297    24097
298    18752
299    11431
Length: 300, dtype: int64
     bigcolumn
0            2
1            3
2            1
3            2
4            2
..         ...
295      17368
296      24433
297      24097
298      18752
299      11431

[300 rows x 1 columns]