<a href="https://colab.research.google.com/github/Mercymerine/Pandas-Analysis/blob/main/pandas1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [12]:
import pandas as pd

### Step 2. Create a data dictionary that looks like the DataFrame below

In [3]:
data_dictionary = {
    'evolution':['Ivysaur', 'Charmeleon', 'Wartortle', 'Metapod'],
    'hp': [45, 39, 44, 45],
    'name': ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
    'type':['grass', 'fire', 'water', 'bug']
}
print(data_dictionary)

{'evolution': ['Ivysaur', 'Charmeleon', 'Wartortle', 'Metapod'], 'hp': [45, 39, 44, 45], 'name': ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'], 'type': ['grass', 'fire', 'water', 'bug']}

In [11]:
 pd.DataFrame(data_dictionary)

    evolution  hp        name   type
0     Ivysaur  45   Bulbasaur  grass
1  Charmeleon  39  Charmander   fire
2   Wartortle  44    Squirtle  water
3     Metapod  45    Caterpie    bug

### Step 3. Assign it to a variable called pokemon

In [10]:
pokemon = pd.DataFrame(data_dictionary)
print(pokemon)

    evolution  hp        name   type
0     Ivysaur  45   Bulbasaur  grass
1  Charmeleon  39  Charmander   fire
2   Wartortle  44    Squirtle  water
3     Metapod  45    Caterpie    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [6]:
order = ['name', 'type', 'hp', 'evolution', 'pokedex']
pokemon_order = pokemon.reindex(columns=order)
print(pokemon_order)

         name   type  hp   evolution  pokedex
0   Bulbasaur  grass  45     Ivysaur      NaN
1  Charmander   fire  39  Charmeleon      NaN
2    Squirtle  water  44   Wartortle      NaN
3    Caterpie    bug  45     Metapod      NaN

### Step 5. Add another column called place, and insert what you have in mind.

In [7]:
place = ['Forest', 'Volcano', 'Ocean', 'Forest']
pokemon['place'] = place

print(pokemon)

    evolution  hp        name   type    place
0     Ivysaur  45   Bulbasaur  grass   Forest
1  Charmeleon  39  Charmander   fire  Volcano
2   Wartortle  44    Squirtle  water    Ocean
3     Metapod  45    Caterpie    bug   Forest

### Step 6. Present the type of each column

In [8]:
print(pokemon.dtypes)

evolution    object
hp            int64
name         object
type         object
place        object
dtype: object

### BONUS: Create your own question and answer it.

In [9]:
#Create a series from a list?
names = ['Mercy', 'Elizabeth', 'Vanessa', 'Joan', 'Bito']
names = pd.Series(names)
print(names)

0        Mercy
1    Elizabeth
2      Vanessa
3         Joan
4         Bito
dtype: object