<a href="https://colab.research.google.com/github/Mercymerine/Pandas-Analysis/blob/main/student_alcohol_consumption.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Student Alcohol Consumption

### Introduction:

This time you will download a dataset from the UCI.

### Step 1. Import the necessary libraries

In [4]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv).

### Step 3. Assign it to a variable called df.

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [6]:
df = pd.read_csv('/content/drive/MyDrive/student-mat.csv')
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    int64
 31  G2          395 non-null    int64
 32  G3          395 non-null    int64
dtypes: int64(16), object(17)
memory usage: 102.0+ KB

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [17]:
print(df.loc[:, 'school':'guardian'])

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F   18       U     GT3       A     4     4   At_home   Teacher
1       GP   F   17       U     GT3       T     1     1   At_home     Other
2       GP   F   15       U     LE3       T     1     1   At_home     Other
3       GP   F   15       U     GT3       T     4     2    Health  Services
4       GP   F   16       U     GT3       T     3     3     Other     Other
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
390     MS   M   20       U     LE3       A     2     2  Services  Services
391     MS   M   17       U     LE3       T     3     1  Services  Services
392     MS   M   21       R     GT3       T     1     1     Other     Other
393     MS   M   18       R     LE3       T     3     2  Services     Other
394     MS   M   19       U     LE3       T     1     1     Other   At_home

     reason guardian
0    course   mother
1    course   father
2     other   mother
3      home   mother
4      home   father
..      ...      ...
390  course    other
391  course   mother
392  course    other
393  course   mother
394  course   father

[395 rows x 12 columns]

### Step 5. Create a lambda function that will capitalize strings.

In [9]:
# Example of a lambda function in comparison to normal function
'''
A lambda function is a small, anonymous function: meaning it doesn't have a name like a regular function does
Often used when you need a simple function for a short period of time and you don't want to use the keyword def
They can take any number of argumrnts, but they can only have one expression.
The syntax for a lambda function is lambda arguments: expression.
'''
#Function
def add(x, y):
  return x + y

#Equivalent lambda function
add_lambda = lambda x, y: x + y
result = add_lambda(3, 5)
print(result)

8

In [13]:
capitalize_string = lambda x: x.capitalize() if isinstance(x, str) else x

### Step 6. Capitalize both Mjob and Fjob

In [14]:
df[['Mjob', 'Fjob']] = df[['Mjob', 'Fjob']].applymap(capitalize_string)
print(df)

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F   18       U     GT3       A     4     4   At_home   Teacher
1       GP   F   17       U     GT3       T     1     1   At_home     Other
2       GP   F   15       U     LE3       T     1     1   At_home     Other
3       GP   F   15       U     GT3       T     4     2    Health  Services
4       GP   F   16       U     GT3       T     3     3     Other     Other
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
390     MS   M   20       U     LE3       A     2     2  Services  Services
391     MS   M   17       U     LE3       T     3     1  Services  Services
392     MS   M   21       R     GT3       T     1     1     Other     Other
393     MS   M   18       R     LE3       T     3     2  Services     Other
394     MS   M   19       U     LE3       T     1     1     Other   At_home

     ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0    ...      4        3      4     1     1      3        6   5   6   6
1    ...      5        3      3     1     1      3        4   5   5   6
2    ...      4        3      2     2     3      3       10   7   8  10
3    ...      3        2      2     1     1      5        2  15  14  15
4    ...      4        3      2     1     2      5        4   6  10  10
..   ...    ...      ...    ...   ...   ...    ...      ...  ..  ..  ..
390  ...      5        5      4     4     5      4       11   9   9   9
391  ...      2        4      5     3     4      2        3  14  16  16
392  ...      5        5      3     3     3      3        3  10   8   7
393  ...      4        4      1     3     4      5        0  11  12  10
394  ...      3        2      3     3     3      5        5   8   9   9

[395 rows x 33 columns]

### Step 7. Print the last elements of the data set.

In [15]:
df.tail()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
390,MS,M,20,U,LE3,A,2,2,Services,Services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,Services,Services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,Other,Other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,Services,Other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,Other,At_home,...,3,2,3,3,3,5,5,8,9,9

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and capitalize Mjob and Fjob.

In [16]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,At_home,Teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,At_home,Other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,At_home,Other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,Health,Services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,Other,Other,...,4,3,2,1,2,5,4,6,10,10

### Step 9. Create a function called majority that returns a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)

In [18]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,At_home,Teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,At_home,Other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,At_home,Other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,Health,Services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,Other,Other,...,4,3,2,1,2,5,4,6,10,10

In [19]:
def majority(age):
  return age > 17

In [20]:
df['legal_drinker'] = df['age'].apply(majority)
print(df)

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F   18       U     GT3       A     4     4   At_home   Teacher
1       GP   F   17       U     GT3       T     1     1   At_home     Other
2       GP   F   15       U     LE3       T     1     1   At_home     Other
3       GP   F   15       U     GT3       T     4     2    Health  Services
4       GP   F   16       U     GT3       T     3     3     Other     Other
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
390     MS   M   20       U     LE3       A     2     2  Services  Services
391     MS   M   17       U     LE3       T     3     1  Services  Services
392     MS   M   21       R     GT3       T     1     1     Other     Other
393     MS   M   18       R     LE3       T     3     2  Services     Other
394     MS   M   19       U     LE3       T     1     1     Other   At_home

     ... freetime goout  Dalc  Walc  health absences  G1  G2  G3 legal_drinker
0    ...        3     4     1     1       3        6   5   6   6          True
1    ...        3     3     1     1       3        4   5   5   6         False
2    ...        3     2     2     3       3       10   7   8  10         False
3    ...        2     2     1     1       5        2  15  14  15         False
4    ...        3     2     1     2       5        4   6  10  10         False
..   ...      ...   ...   ...   ...     ...      ...  ..  ..  ..           ...
390  ...        5     4     4     5       4       11   9   9   9          True
391  ...        4     5     3     4       2        3  14  16  16         False
392  ...        5     3     3     3       3        3  10   8   7          True
393  ...        4     1     3     4       5        0  11  12  10          True
394  ...        2     3     3     3       5        5   8   9   9          True

[395 rows x 34 columns]

### Step 10. Multiply every number of the dataset by 10.
##### I know this makes no sense, don't forget it is just an exercise

In [21]:
multiply = lambda x: x * 10 if isinstance(x, (int, float)) else x

df = df.applymap(multiply)
print(df)

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F  180       U     GT3       A    40    40   At_home   Teacher
1       GP   F  170       U     GT3       T    10    10   At_home     Other
2       GP   F  150       U     LE3       T    10    10   At_home     Other
3       GP   F  150       U     GT3       T    40    20    Health  Services
4       GP   F  160       U     GT3       T    30    30     Other     Other
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
390     MS   M  200       U     LE3       A    20    20  Services  Services
391     MS   M  170       U     LE3       T    30    10  Services  Services
392     MS   M  210       R     GT3       T    10    10     Other     Other
393     MS   M  180       R     LE3       T    30    20  Services     Other
394     MS   M  190       U     LE3       T    10    10     Other   At_home

     ... freetime goout  Dalc  Walc  health absences   G1   G2   G3  \
0    ...       30    40    10    10      30       60   50   60   60
1    ...       30    30    10    10      30       40   50   50   60
2    ...       30    20    20    30      30      100   70   80  100
3    ...       20    20    10    10      50       20  150  140  150
4    ...       30    20    10    20      50       40   60  100  100
..   ...      ...   ...   ...   ...     ...      ...  ...  ...  ...
390  ...       50    40    40    50      40      110   90   90   90
391  ...       40    50    30    40      20       30  140  160  160
392  ...       50    30    30    30      30       30  100   80   70
393  ...       40    10    30    40      50        0  110  120  100
394  ...       20    30    30    30      50       50   80   90   90

    legal_drinker
0              10
1               0
2               0
3               0
4               0
..            ...
390            10
391             0
392            10
393            10
394            10

[395 rows x 34 columns]