<a href="https://colab.research.google.com/github/Mercymerine/Pandas-Analysis/blob/main/wind.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Wind Statistics

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

### Introduction:

The data have been modified to contain some missing values, identified by NaN.  
Using pandas should make this exercise
easier, in particular for the bonus question.

You should be able to perform all of these operations without using
a for loop or other looping construct.


1. The data in 'wind.data' has the following format:

In [ ]:
"""
Yr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL
61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04
61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83
61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71
"""

'\nYr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL\n61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04\n61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83\n61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71\n'

   The first three columns are year, month and day.  The
   remaining 12 columns are average windspeeds in knots at 12
   locations in Ireland on that day.   

   More information about the dataset go [here](wind.desc).

### Step 1. Import the necessary libraries

In [43]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data)

### Step 3. Assign it to a variable called data and replace the first 3 columns by a proper datetime index.

In [49]:
data = pd.read_csv('/content/drive/MyDrive/wind_data.data', delimiter=' ')
data.tail()

,Yr,Mo,Dy,Unnamed: 3,Unnamed: 4,RPT,Unnamed: 6,Unnamed: 7,VAL,Unnamed: 9,...,MUL,Unnamed: 30,Unnamed: 31,CLO,Unnamed: 33,Unnamed: 34,BEL,Unnamed: 36,Unnamed: 37,MAL
6569,78,12.0,27.0,17.58,16.96,17.62,NaN,8.08,13.21,11.67,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6570,78,12.0,28.0,13.21,NaN,5.46,13.46,NaN,5.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6571,78,12.0,29.0,14.00,10.29,14.42,NaN,8.71,NaN,9.71,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6572,78,12.0,30.0,18.50,14.04,21.29,NaN,9.13,12.75,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6573,78,12.0,31.0,20.33,17.41,27.29,NaN,9.59,12.08,10.13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
data.shape

(6574, 39)

In [51]:
data['Yr'].unique()

array([61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77,
       78])

### Step 4. Year 2061? Do we really have data from this year? Create a function to fix it and apply it.

In [52]:
def fix_year(year):
  return 1900 + year



data['Yr'] = data['Yr'].apply(fix_year)
print(data['Yr'])

0       1961
1       1961
2       1961
3       1961
4       1961
        ...
6569    1978
6570    1978
6571    1978
6572    1978
6573    1978
Name: Yr, Length: 6574, dtype: int64

### Step 5. Set the right dates as the index. Pay attention at the data type, it should be datetime64[ns].

In [117]:
#data['Yr'] = pd.to_datetime(data['Yr'], format='%Y')
print(data)

              Mo    Dy    RPT    VAL    ROS    KIL    SHA    BIR  DUB  CLA  \
Yr
1961-01-01   NaN   1.0  15.04    NaN    NaN   9.87  10.83  15.04  NaN  NaN
1961-01-01   NaN   1.0  14.71    NaN   6.50   7.67    NaN   9.67  NaN  NaN
1961-01-01   NaN   1.0  18.50  10.13   6.17    NaN   8.50  12.75  NaN  NaN
1961-01-01   NaN   1.0  10.58  11.75    NaN   2.88    NaN   5.83  NaN  NaN
1961-01-01   NaN   1.0  13.33    NaN    NaN    NaN  10.34    NaN  NaN  NaN
...          ...   ...    ...    ...    ...    ...    ...    ...  ...  ...
1978-01-01  12.0  27.0  17.62  13.21  15.59  17.21    NaN    NaN  NaN  NaN
1978-01-01  12.0  28.0   5.46   5.00    NaN  16.25  21.79    NaN  NaN  NaN
1978-01-01  12.0  29.0  14.42    NaN  19.17  16.42    NaN    NaN  NaN  NaN
1978-01-01  12.0  30.0  21.29  12.75  18.08  12.12    NaN    NaN  NaN  NaN
1978-01-01  12.0  31.0  27.29  12.08  11.63  12.08    NaN    NaN  NaN  NaN

            MUL  CLO  BEL  MAL
Yr
1961-01-01  NaN  NaN  NaN  NaN
1961-01-01  NaN  NaN  NaN  NaN
1961-01-01  NaN  NaN  NaN  NaN
1961-01-01  NaN  NaN  NaN  NaN
1961-01-01  NaN  NaN  NaN  NaN
...         ...  ...  ...  ...
1978-01-01  NaN  NaN  NaN  NaN
1978-01-01  NaN  NaN  NaN  NaN
1978-01-01  NaN  NaN  NaN  NaN
1978-01-01  NaN  NaN  NaN  NaN
1978-01-01  NaN  NaN  NaN  NaN

[6574 rows x 14 columns]

In [115]:
data.set_index('Yr', inplace=True)

In [118]:
data.dtypes

Mo     float64
Dy     float64
RPT    float64
VAL    float64
ROS    float64
KIL    float64
SHA    float64
BIR    float64
DUB    float64
CLA    float64
MUL    float64
CLO    float64
BEL    float64
MAL    float64
dtype: object

### Step 6. Compute how many values are missing for each location over the entire record.  
#### They should be ignored in all calculations below.

In [119]:
data.isnull().sum()

Mo     4918
Dy      486
RPT    1625
VAL    2432
ROS    2152
KIL    2331
SHA    3204
BIR    4065
DUB    4416
CLA    5590
MUL    6574
CLO    6574
BEL    6574
MAL    6574
dtype: int64

### Step 7. Compute how many non-missing values there are in total.

In [75]:
data.count().sum()

98579

### Step 8. Calculate the mean windspeeds of the windspeeds over all the locations and all the times.
#### A single number for the entire dataset.

In [121]:
numeric_data = data.drop(['Mo', 'Dy'], axis=1)

location_means = numeric_data.mean()
#print(location_means)

overall_mean = location_means.mean()
print(overall_mean)

9.749046512199465

### Step 9. Create a DataFrame called loc_stats and calculate the min, max and mean windspeeds and standard deviations of the windspeeds at each location over all the days

#### A different set of numbers for each location.

In [122]:
#numeric_data = data.drop(['Yr', 'Mo', 'Dy'])
loc_stats = numeric_data.describe().transpose()
print(loc_stats)

      count       mean       std   min   25%    50%    75%    max
RPT  4949.0  12.415559  5.229848  0.67  8.63  12.04  15.67  35.80
VAL  4142.0  10.106519  4.953028  0.33  6.68   9.00  12.95  37.54
ROS  4422.0   9.175468  5.175858  0.08  4.67   9.04  12.79  31.08
KIL  4243.0  10.897985  6.676379  0.00  6.04   9.92  13.75  42.38
SHA  3370.0   9.439496  5.788945  0.25  5.50   8.04  11.46  37.99
BIR  2509.0   8.548127  5.315896  0.00  4.71   7.25  11.29  35.50
DUB  2158.0   8.168874  4.968116  0.04  4.29   7.17  11.58  34.08
CLA   984.0   9.240346  3.623705  0.58  6.57   9.00  11.54  26.25
MUL     0.0        NaN       NaN   NaN   NaN    NaN    NaN    NaN
CLO     0.0        NaN       NaN   NaN   NaN    NaN    NaN    NaN
BEL     0.0        NaN       NaN   NaN   NaN    NaN    NaN    NaN
MAL     0.0        NaN       NaN   NaN   NaN    NaN    NaN    NaN

### Step 10. Create a DataFrame called day_stats and calculate the min, max and mean windspeed and standard deviations of the windspeeds across all the locations at each day.

#### A different set of numbers for each day.

In [123]:
transposed_df = numeric_data.T
#print(transposed_df)
day_stats = transposed_df.describe()
print(day_stats)

Yr     1961-01-01  1961-01-01  1961-01-01  1961-01-01  1961-01-01  1961-01-01  \
count    4.000000    4.000000    5.000000    4.000000    2.000000    3.000000
mean    12.695000    9.637500   11.210000    7.760000   11.835000    9.016667
std      2.735989    3.626122    4.728314    4.139718    2.114249    3.640128
min      9.870000    6.500000    6.170000    2.880000   10.340000    6.670000
25%     10.590000    7.377500    8.500000    5.092500   11.087500    6.920000
50%     12.935000    8.670000   10.130000    8.205000   11.835000    7.170000
75%     15.040000   10.930000   12.750000   10.872500   12.582500   10.190000
max     15.040000   14.710000   18.500000   11.750000   13.330000   13.210000

Yr     1961-01-01  1961-01-01  1961-01-01  1961-01-01  ...  1978-01-01  \
count    5.000000    4.000000      4.0000    3.000000  ...    3.000000
mean    11.674000   10.645000     10.3625    9.330000  ...    8.626667
std      2.156439    4.407558      2.8342    1.553737  ...    1.189342
min      9.290000    5.910000      7.7900    8.330000  ...    7.580000
25%      9.500000    8.415000      7.9775    8.435000  ...    7.980000
50%     12.290000   10.105000     10.3100    8.540000  ...    8.380000
75%     13.500000   12.335000     12.6950    9.830000  ...    9.150000
max     13.790000   16.460000     13.0400   11.120000  ...    9.920000

Yr     1978-01-01  1978-01-01  1978-01-01  1978-01-01  1978-01-01  1978-01-01  \
count    4.000000    4.000000    3.000000    3.000000     4.00000    4.000000
mean    18.040000   14.970000    5.873333    5.890000    15.90750   12.125000
std      3.288232   11.581307    1.723553    3.904164     2.00054    8.278802
min     14.290000    5.090000    4.580000    3.040000    13.21000    5.000000
25%     16.442500    9.395000    4.895000    3.665000    14.99500    5.345000
50%     17.830000   11.540000    5.210000    4.290000    16.40000   10.855000
75%     19.427500   17.115000    6.520000    7.315000    17.31250   17.635000
max     22.210000   31.710000    7.830000   10.340000    17.62000   21.790000

Yr     1978-01-01  1978-01-01  1978-01-01
count    3.000000     4.00000    4.000000
mean    16.670000    16.06000   15.770000
std      2.384848     4.39367    7.682929
min     14.420000    12.12000   11.630000
25%     15.420000    12.59250   11.967500
50%     16.420000    15.41500   12.080000
75%     17.795000    18.88250   15.882500
max     19.170000    21.29000   27.290000

[8 rows x 6574 columns]

### Step 11. Find the average windspeed in January for each location.  
#### Treat January 1961 and January 1962 both as January.

In [124]:
january_data = data[data['Mo'] == 1]
january_avg_windspeed = january_data.mean()
print(january_avg_windspeed)

Mo    NaN
Dy    NaN
RPT   NaN
VAL   NaN
ROS   NaN
KIL   NaN
SHA   NaN
BIR   NaN
DUB   NaN
CLA   NaN
MUL   NaN
CLO   NaN
BEL   NaN
MAL   NaN
dtype: float64

### Step 12. Downsample the record to a yearly frequency for each location.

In [125]:
data.head()
unnamed_columns = [col for col in data.columns if col.startswith('Unnamed:')]
data = data.drop(columns=unnamed_columns)
print(data)

              Mo    Dy    RPT    VAL    ROS    KIL    SHA    BIR  DUB  CLA  \
Yr
1961-01-01   NaN   1.0  15.04    NaN    NaN   9.87  10.83  15.04  NaN  NaN
1961-01-01   NaN   1.0  14.71    NaN   6.50   7.67    NaN   9.67  NaN  NaN
1961-01-01   NaN   1.0  18.50  10.13   6.17    NaN   8.50  12.75  NaN  NaN
1961-01-01   NaN   1.0  10.58  11.75    NaN   2.88    NaN   5.83  NaN  NaN
1961-01-01   NaN   1.0  13.33    NaN    NaN    NaN  10.34    NaN  NaN  NaN
...          ...   ...    ...    ...    ...    ...    ...    ...  ...  ...
1978-01-01  12.0  27.0  17.62  13.21  15.59  17.21    NaN    NaN  NaN  NaN
1978-01-01  12.0  28.0   5.46   5.00    NaN  16.25  21.79    NaN  NaN  NaN
1978-01-01  12.0  29.0  14.42    NaN  19.17  16.42    NaN    NaN  NaN  NaN
1978-01-01  12.0  30.0  21.29  12.75  18.08  12.12    NaN    NaN  NaN  NaN
1978-01-01  12.0  31.0  27.29  12.08  11.63  12.08    NaN    NaN  NaN  NaN

            MUL  CLO  BEL  MAL
Yr
1961-01-01  NaN  NaN  NaN  NaN
1961-01-01  NaN  NaN  NaN  NaN
1961-01-01  NaN  NaN  NaN  NaN
1961-01-01  NaN  NaN  NaN  NaN
1961-01-01  NaN  NaN  NaN  NaN
...         ...  ...  ...  ...
1978-01-01  NaN  NaN  NaN  NaN
1978-01-01  NaN  NaN  NaN  NaN
1978-01-01  NaN  NaN  NaN  NaN
1978-01-01  NaN  NaN  NaN  NaN
1978-01-01  NaN  NaN  NaN  NaN

[6574 rows x 14 columns]

In [114]:
data.dtypes

Yr     datetime64[ns]
Mo            float64
Dy            float64
RPT           float64
VAL           float64
ROS           float64
KIL           float64
SHA           float64
BIR           float64
DUB           float64
CLA           float64
MUL           float64
CLO           float64
BEL           float64
MAL           float64
dtype: object

In [126]:
location = data.groupby('Yr')[['RPT', 'VAL', 'ROS', 'KIL', 'SHA', 'BIR', 'DUB', 'CLA', 'MUL', 'CLO','BEL', 'MAL']].resample('Y').mean()

#yearly_mean = location.mean()

print(location)

                             RPT        VAL        ROS        KIL        SHA  \
Yr         Yr
1961-01-01 1961-12-31  12.100951  10.132192   9.264901  11.181845   9.606505
1962-01-01 1962-12-31  12.254252  10.947328  10.080766  11.972839   8.851287
1963-01-01 1963-12-31  12.284257  11.497382  10.224307  12.343640  10.052634
1964-01-01 1964-12-31  12.515821  10.792298   9.655885  11.362324  10.180625
1965-01-01 1965-12-31  12.838421  10.588167   9.784061  11.211250   9.471437
1966-01-01 1966-12-31  13.308486  11.056111  10.250698  12.028599   9.587283
1967-01-01 1967-12-31  12.465679  10.625328   9.838277  11.928375  10.531497
1968-01-01 1968-12-31  12.069077  10.118403   8.841746  10.526360   8.492034
1969-01-01 1969-12-31  11.856318   9.393556   8.554107   9.169289   9.448095
1970-01-01 1970-12-31  12.667941   9.824017   9.236720  10.796793   9.302118
1971-01-01 1971-12-31  11.256406   9.115687   7.551660   9.909643   7.991327
1972-01-01 1972-12-31  12.272491   9.982441   8.442163  10.524727   8.793037
1973-01-01 1973-12-31  12.160952   9.240283   8.228465   9.666380   8.284141
1974-01-01 1974-12-31  13.421531  10.309389   9.612377  11.306510  10.458629
1975-01-01 1975-12-31  12.153358   9.176667   7.621493   9.551272   9.809372
1976-01-01 1976-12-31  12.116484   8.677297   8.101333   9.513084   9.158586
1977-01-01 1977-12-31  12.822464  10.027280  10.071053  11.548353  11.099497
1978-01-01 1978-12-31  12.682393  10.078426   9.210440  10.967395   9.053237

                            BIR       DUB        CLA  MUL  CLO  BEL  MAL
Yr         Yr
1961-01-01 1961-12-31  9.073878  8.608103   8.562400  NaN  NaN  NaN  NaN
1962-01-01 1962-12-31  7.988921  8.165636   7.669231  NaN  NaN  NaN  NaN
1963-01-01 1963-12-31  9.250172  8.076667   7.736744  NaN  NaN  NaN  NaN
1964-01-01 1964-12-31  9.129466  8.518241   9.140741  NaN  NaN  NaN  NaN
1965-01-01 1965-12-31  8.195855  9.399619   9.624000  NaN  NaN  NaN  NaN
1966-01-01 1966-12-31  8.592500  8.193922   8.346944  NaN  NaN  NaN  NaN
1967-01-01 1967-12-31  9.438710  8.621402   9.227045  NaN  NaN  NaN  NaN
1968-01-01 1968-12-31  7.958483  7.346014   9.189710  NaN  NaN  NaN  NaN
1969-01-01 1969-12-31  8.312160  8.596320   8.849839  NaN  NaN  NaN  NaN
1970-01-01 1970-12-31  8.890305  8.041322  10.153171  NaN  NaN  NaN  NaN
1971-01-01 1971-12-31  8.083551  7.265909   9.237945  NaN  NaN  NaN  NaN
1972-01-01 1972-12-31  8.430567  7.167986   9.443519  NaN  NaN  NaN  NaN
1973-01-01 1973-12-31  8.305241  8.371786   9.856667  NaN  NaN  NaN  NaN
1974-01-01 1974-12-31  9.327681  8.475253   9.837037  NaN  NaN  NaN  NaN
1975-01-01 1975-12-31  8.683590  7.963876   9.654923  NaN  NaN  NaN  NaN
1976-01-01 1976-12-31  7.859384  8.453798   8.915246  NaN  NaN  NaN  NaN
1977-01-01 1977-12-31  7.931769  8.141531  10.235357  NaN  NaN  NaN  NaN
1978-01-01 1978-12-31  8.745809  8.390385  10.053455  NaN  NaN  NaN  NaN

### Step 13. Downsample the record to a monthly frequency for each location.

In [129]:
data.head()

,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr,,,,,,,,,,,,,,
1961-01-01,NaN,1.0,15.04,NaN,NaN,9.87,10.83,15.04,NaN,NaN,NaN,NaN,NaN,NaN
1961-01-01,NaN,1.0,14.71,NaN,6.50,7.67,NaN,9.67,NaN,NaN,NaN,NaN,NaN,NaN
1961-01-01,NaN,1.0,18.50,10.13,6.17,NaN,8.50,12.75,NaN,NaN,NaN,NaN,NaN,NaN
1961-01-01,NaN,1.0,10.58,11.75,NaN,2.88,NaN,5.83,NaN,NaN,NaN,NaN,NaN,NaN
1961-01-01,NaN,1.0,13.33,NaN,NaN,NaN,10.34,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [131]:
monthly_data = data.resample('M').mean()
print(monthly_data)

              Mo        Dy        RPT        VAL       ROS        KIL  \
Yr
1961-01-31  11.0  7.964497  12.100951  10.132192  9.264901  11.181845
1961-02-28   NaN       NaN        NaN        NaN       NaN        NaN
1961-03-31   NaN       NaN        NaN        NaN       NaN        NaN
1961-04-30   NaN       NaN        NaN        NaN       NaN        NaN
1961-05-31   NaN       NaN        NaN        NaN       NaN        NaN
...          ...       ...        ...        ...       ...        ...
1977-09-30   NaN       NaN        NaN        NaN       NaN        NaN
1977-10-31   NaN       NaN        NaN        NaN       NaN        NaN
1977-11-30   NaN       NaN        NaN        NaN       NaN        NaN
1977-12-31   NaN       NaN        NaN        NaN       NaN        NaN
1978-01-31  11.0  7.964497  12.682393  10.078426  9.210440  10.967395

                 SHA       BIR       DUB        CLA  MUL  CLO  BEL  MAL
Yr
1961-01-31  9.606505  9.073878  8.608103   8.562400  NaN  NaN  NaN  NaN
1961-02-28       NaN       NaN       NaN        NaN  NaN  NaN  NaN  NaN
1961-03-31       NaN       NaN       NaN        NaN  NaN  NaN  NaN  NaN
1961-04-30       NaN       NaN       NaN        NaN  NaN  NaN  NaN  NaN
1961-05-31       NaN       NaN       NaN        NaN  NaN  NaN  NaN  NaN
...              ...       ...       ...        ...  ...  ...  ...  ...
1977-09-30       NaN       NaN       NaN        NaN  NaN  NaN  NaN  NaN
1977-10-31       NaN       NaN       NaN        NaN  NaN  NaN  NaN  NaN
1977-11-30       NaN       NaN       NaN        NaN  NaN  NaN  NaN  NaN
1977-12-31       NaN       NaN       NaN        NaN  NaN  NaN  NaN  NaN
1978-01-31  9.053237  8.745809  8.390385  10.053455  NaN  NaN  NaN  NaN

[205 rows x 14 columns]

### Step 14. Downsample the record to a weekly frequency for each location.

In [132]:
weekly_data = data.resample('W').mean()
print(weekly_data)

              Mo        Dy        RPT        VAL       ROS        KIL  \
Yr
1961-01-01  11.0  7.964497  12.100951  10.132192  9.264901  11.181845
1961-01-08   NaN       NaN        NaN        NaN       NaN        NaN
1961-01-15   NaN       NaN        NaN        NaN       NaN        NaN
1961-01-22   NaN       NaN        NaN        NaN       NaN        NaN
1961-01-29   NaN       NaN        NaN        NaN       NaN        NaN
...          ...       ...        ...        ...       ...        ...
1977-12-04   NaN       NaN        NaN        NaN       NaN        NaN
1977-12-11   NaN       NaN        NaN        NaN       NaN        NaN
1977-12-18   NaN       NaN        NaN        NaN       NaN        NaN
1977-12-25   NaN       NaN        NaN        NaN       NaN        NaN
1978-01-01  11.0  7.964497  12.682393  10.078426  9.210440  10.967395

                 SHA       BIR       DUB        CLA  MUL  CLO  BEL  MAL
Yr
1961-01-01  9.606505  9.073878  8.608103   8.562400  NaN  NaN  NaN  NaN
1961-01-08       NaN       NaN       NaN        NaN  NaN  NaN  NaN  NaN
1961-01-15       NaN       NaN       NaN        NaN  NaN  NaN  NaN  NaN
1961-01-22       NaN       NaN       NaN        NaN  NaN  NaN  NaN  NaN
1961-01-29       NaN       NaN       NaN        NaN  NaN  NaN  NaN  NaN
...              ...       ...       ...        ...  ...  ...  ...  ...
1977-12-04       NaN       NaN       NaN        NaN  NaN  NaN  NaN  NaN
1977-12-11       NaN       NaN       NaN        NaN  NaN  NaN  NaN  NaN
1977-12-18       NaN       NaN       NaN        NaN  NaN  NaN  NaN  NaN
1977-12-25       NaN       NaN       NaN        NaN  NaN  NaN  NaN  NaN
1978-01-01  9.053237  8.745809  8.390385  10.053455  NaN  NaN  NaN  NaN

[888 rows x 14 columns]

### Step 15. Calculate the min, max and mean windspeeds and standard deviations of the windspeeds across all locations for each week (assume that the first week starts on January 2 1961) for the first 52 weeks.

In [137]:
weekly = data.resample('W').agg(['min', 'max', 'mean', 'std'])
weeks = weekly.iloc[:52]
print(weeks)

              Mo                        Dy                             RPT  \
             min   max  mean      std  min   max      mean       std   min
Yr
1961-01-01  10.0  12.0  11.0  0.82542  1.0  31.0  7.964497  7.035639  3.04
1961-01-08   NaN   NaN   NaN      NaN  NaN   NaN       NaN       NaN   NaN
1961-01-15   NaN   NaN   NaN      NaN  NaN   NaN       NaN       NaN   NaN
1961-01-22   NaN   NaN   NaN      NaN  NaN   NaN       NaN       NaN   NaN
1961-01-29   NaN   NaN   NaN      NaN  NaN   NaN       NaN       NaN   NaN
1961-02-05   NaN   NaN   NaN      NaN  NaN   NaN       NaN       NaN   NaN
1961-02-12   NaN   NaN   NaN      NaN  NaN   NaN       NaN       NaN   NaN
1961-02-19   NaN   NaN   NaN      NaN  NaN   NaN       NaN       NaN   NaN
1961-02-26   NaN   NaN   NaN      NaN  NaN   NaN       NaN       NaN   NaN
1961-03-05   NaN   NaN   NaN      NaN  NaN   NaN       NaN       NaN   NaN
1961-03-12   NaN   NaN   NaN      NaN  NaN   NaN       NaN       NaN   NaN
1961-03-19   NaN   NaN   NaN      NaN  NaN   NaN       NaN       NaN   NaN
1961-03-26   NaN   NaN   NaN      NaN  NaN   NaN       NaN       NaN   NaN
1961-04-02   NaN   NaN   NaN      NaN  NaN   NaN       NaN       NaN   NaN
1961-04-09   NaN   NaN   NaN      NaN  NaN   NaN       NaN       NaN   NaN
1961-04-16   NaN   NaN   NaN      NaN  NaN   NaN       NaN       NaN   NaN
1961-04-23   NaN   NaN   NaN      NaN  NaN   NaN       NaN       NaN   NaN
1961-04-30   NaN   NaN   NaN      NaN  NaN   NaN       NaN       NaN   NaN
1961-05-07   NaN   NaN   NaN      NaN  NaN   NaN       NaN       NaN   NaN
1961-05-14   NaN   NaN   NaN      NaN  NaN   NaN       NaN       NaN   NaN
1961-05-21   NaN   NaN   NaN      NaN  NaN   NaN       NaN       NaN   NaN
1961-05-28   NaN   NaN   NaN      NaN  NaN   NaN       NaN       NaN   NaN
1961-06-04   NaN   NaN   NaN      NaN  NaN   NaN       NaN       NaN   NaN
1961-06-11   NaN   NaN   NaN      NaN  NaN   NaN       NaN       NaN   NaN
1961-06-18   NaN   NaN   NaN      NaN  NaN   NaN       NaN       NaN   NaN
1961-06-25   NaN   NaN   NaN      NaN  NaN   NaN       NaN       NaN   NaN
1961-07-02   NaN   NaN   NaN      NaN  NaN   NaN       NaN       NaN   NaN
1961-07-09   NaN   NaN   NaN      NaN  NaN   NaN       NaN       NaN   NaN
1961-07-16   NaN   NaN   NaN      NaN  NaN   NaN       NaN       NaN   NaN
1961-07-23   NaN   NaN   NaN      NaN  NaN   NaN       NaN       NaN   NaN
1961-07-30   NaN   NaN   NaN      NaN  NaN   NaN       NaN       NaN   NaN
1961-08-06   NaN   NaN   NaN      NaN  NaN   NaN       NaN       NaN   NaN
1961-08-13   NaN   NaN   NaN      NaN  NaN   NaN       NaN       NaN   NaN
1961-08-20   NaN   NaN   NaN      NaN  NaN   NaN       NaN       NaN   NaN
1961-08-27   NaN   NaN   NaN      NaN  NaN   NaN       NaN       NaN   NaN
1961-09-03   NaN   NaN   NaN      NaN  NaN   NaN       NaN       NaN   NaN
1961-09-10   NaN   NaN   NaN      NaN  NaN   NaN       NaN       NaN   NaN
1961-09-17   NaN   NaN   NaN      NaN  NaN   NaN       NaN       NaN   NaN
1961-09-24   NaN   NaN   NaN      NaN  NaN   NaN       NaN       NaN   NaN
1961-10-01   NaN   NaN   NaN      NaN  NaN   NaN       NaN       NaN   NaN
1961-10-08   NaN   NaN   NaN      NaN  NaN   NaN       NaN       NaN   NaN
1961-10-15   NaN   NaN   NaN      NaN  NaN   NaN       NaN       NaN   NaN
1961-10-22   NaN   NaN   NaN      NaN  NaN   NaN       NaN       NaN   NaN
1961-10-29   NaN   NaN   NaN      NaN  NaN   NaN       NaN       NaN   NaN
1961-11-05   NaN   NaN   NaN      NaN  NaN   NaN       NaN       NaN   NaN
1961-11-12   NaN   NaN   NaN      NaN  NaN   NaN       NaN       NaN   NaN
1961-11-19   NaN   NaN   NaN      NaN  NaN   NaN       NaN       NaN   NaN
1961-11-26   NaN   NaN   NaN      NaN  NaN   NaN       NaN       NaN   NaN
1961-12-03   NaN   NaN   NaN      NaN  NaN   NaN       NaN       NaN   NaN
1961-12-10   NaN   NaN   NaN      NaN  NaN   NaN       NaN       NaN   NaN
1961-12-17   NaN   NaN   NaN      NaN  NaN   NaN       NaN       NaN   NaN
1961-12-24   NaN   NaN   NaN      NaN  NaN   NaN       NaN       NaN   NaN

                   ...  CLO     BEL              MAL
              max  ... mean std min max mean std min max mean std
Yr                 ...
1961-01-01  32.71  ...  NaN NaN NaN NaN  NaN NaN NaN NaN  NaN NaN
1961-01-08    NaN  ...  NaN NaN NaN NaN  NaN NaN NaN NaN  NaN NaN
1961-01-15    NaN  ...  NaN NaN NaN NaN  NaN NaN NaN NaN  NaN NaN
1961-01-22    NaN  ...  NaN NaN NaN NaN  NaN NaN NaN NaN  NaN NaN
1961-01-29    NaN  ...  NaN NaN NaN NaN  NaN NaN NaN NaN  NaN NaN
1961-02-05    NaN  ...  NaN NaN NaN NaN  NaN NaN NaN NaN  NaN NaN
1961-02-12    NaN  ...  NaN NaN NaN NaN  NaN NaN NaN NaN  NaN NaN
1961-02-19    NaN  ...  NaN NaN NaN NaN  NaN NaN NaN NaN  NaN NaN
1961-02-26    NaN  ...  NaN NaN NaN NaN  NaN NaN NaN NaN  NaN NaN
1961-03-05    NaN  ...  NaN NaN NaN NaN  NaN NaN NaN NaN  NaN NaN
1961-03-12    NaN  ...  NaN NaN NaN NaN  NaN NaN NaN NaN  NaN NaN
1961-03-19    NaN  ...  NaN NaN NaN NaN  NaN NaN NaN NaN  NaN NaN
1961-03-26    NaN  ...  NaN NaN NaN NaN  NaN NaN NaN NaN  NaN NaN
1961-04-02    NaN  ...  NaN NaN NaN NaN  NaN NaN NaN NaN  NaN NaN
1961-04-09    NaN  ...  NaN NaN NaN NaN  NaN NaN NaN NaN  NaN NaN
1961-04-16    NaN  ...  NaN NaN NaN NaN  NaN NaN NaN NaN  NaN NaN
1961-04-23    NaN  ...  NaN NaN NaN NaN  NaN NaN NaN NaN  NaN NaN
1961-04-30    NaN  ...  NaN NaN NaN NaN  NaN NaN NaN NaN  NaN NaN
1961-05-07    NaN  ...  NaN NaN NaN NaN  NaN NaN NaN NaN  NaN NaN
1961-05-14    NaN  ...  NaN NaN NaN NaN  NaN NaN NaN NaN  NaN NaN
1961-05-21    NaN  ...  NaN NaN NaN NaN  NaN NaN NaN NaN  NaN NaN
1961-05-28    NaN  ...  NaN NaN NaN NaN  NaN NaN NaN NaN  NaN NaN
1961-06-04    NaN  ...  NaN NaN NaN NaN  NaN NaN NaN NaN  NaN NaN
1961-06-11    NaN  ...  NaN NaN NaN NaN  NaN NaN NaN NaN  NaN NaN
1961-06-18    NaN  ...  NaN NaN NaN NaN  NaN NaN NaN NaN  NaN NaN
1961-06-25    NaN  ...  NaN NaN NaN NaN  NaN NaN NaN NaN  NaN NaN
1961-07-02    NaN  ...  NaN NaN NaN NaN  NaN NaN NaN NaN  NaN NaN
1961-07-09    NaN  ...  NaN NaN NaN NaN  NaN NaN NaN NaN  NaN NaN
1961-07-16    NaN  ...  NaN NaN NaN NaN  NaN NaN NaN NaN  NaN NaN
1961-07-23    NaN  ...  NaN NaN NaN NaN  NaN NaN NaN NaN  NaN NaN
1961-07-30    NaN  ...  NaN NaN NaN NaN  NaN NaN NaN NaN  NaN NaN
1961-08-06    NaN  ...  NaN NaN NaN NaN  NaN NaN NaN NaN  NaN NaN
1961-08-13    NaN  ...  NaN NaN NaN NaN  NaN NaN NaN NaN  NaN NaN
1961-08-20    NaN  ...  NaN NaN NaN NaN  NaN NaN NaN NaN  NaN NaN
1961-08-27    NaN  ...  NaN NaN NaN NaN  NaN NaN NaN NaN  NaN NaN
1961-09-03    NaN  ...  NaN NaN NaN NaN  NaN NaN NaN NaN  NaN NaN
1961-09-10    NaN  ...  NaN NaN NaN NaN  NaN NaN NaN NaN  NaN NaN
1961-09-17    NaN  ...  NaN NaN NaN NaN  NaN NaN NaN NaN  NaN NaN
1961-09-24    NaN  ...  NaN NaN NaN NaN  NaN NaN NaN NaN  NaN NaN
1961-10-01    NaN  ...  NaN NaN NaN NaN  NaN NaN NaN NaN  NaN NaN
1961-10-08    NaN  ...  NaN NaN NaN NaN  NaN NaN NaN NaN  NaN NaN
1961-10-15    NaN  ...  NaN NaN NaN NaN  NaN NaN NaN NaN  NaN NaN
1961-10-22    NaN  ...  NaN NaN NaN NaN  NaN NaN NaN NaN  NaN NaN
1961-10-29    NaN  ...  NaN NaN NaN NaN  NaN NaN NaN NaN  NaN NaN
1961-11-05    NaN  ...  NaN NaN NaN NaN  NaN NaN NaN NaN  NaN NaN
1961-11-12    NaN  ...  NaN NaN NaN NaN  NaN NaN NaN NaN  NaN NaN
1961-11-19    NaN  ...  NaN NaN NaN NaN  NaN NaN NaN NaN  NaN NaN
1961-11-26    NaN  ...  NaN NaN NaN NaN  NaN NaN NaN NaN  NaN NaN
1961-12-03    NaN  ...  NaN NaN NaN NaN  NaN NaN NaN NaN  NaN NaN
1961-12-10    NaN  ...  NaN NaN NaN NaN  NaN NaN NaN NaN  NaN NaN
1961-12-17    NaN  ...  NaN NaN NaN NaN  NaN NaN NaN NaN  NaN NaN
1961-12-24    NaN  ...  NaN NaN NaN NaN  NaN NaN NaN NaN  NaN NaN

[52 rows x 56 columns]