<a href="https://colab.research.google.com/github/Mercymerine/Pandas-Analysis/blob/main/wine.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Wine

### Introduction:

This exercise is a adaptation from the UCI Wine dataset.
The only pupose is to practice deleting data with pandas.

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data).

### Step 3. Assign it to a variable called wine

In [ ]:

wine = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data')
wine.head()

,1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450

In [ ]:
wine.shape

(177, 14)

### Step 4. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

In [ ]:
drop_columns = [0, 3, 6, 8, 10, 12, 13 ]
wine.drop(wine.columns[drop_columns], axis=1, inplace=True)
print(wine.head)

<bound method NDFrame.head of      14.23  1.71  15.6  127  3.06  2.29  1.04
0    13.20  1.78  11.2  100  2.76  1.28  1.05
1    13.16  2.36  18.6  101  3.24  2.81  1.03
2    14.37  1.95  16.8  113  3.49  2.18  0.86
3    13.24  2.59  21.0  118  2.69  1.82  1.04
4    14.20  1.76  15.2  112  3.39  1.97  1.05
..     ...   ...   ...  ...   ...   ...   ...
172  13.71  5.65  20.5   95  0.61  1.06  0.64
173  13.40  3.91  23.0  102  0.75  1.41  0.70
174  13.27  4.28  20.0  120  0.69  1.35  0.59
175  13.17  2.59  20.0  120  0.68  1.46  0.60
176  14.13  4.10  24.5   96  0.76  1.35  0.61

[177 rows x 7 columns]>

### Step 5. Assign the columns as below:

The attributes are (donated by Riccardo Leardi, riclea '@' anchem.unige.it):  
1) alcohol  
2) malic_acid  
3) alcalinity_of_ash  
4) magnesium  
5) flavanoids  
6) proanthocyanins  
7) hue

In [ ]:
columns = ['alcohol', 'malic_acid', 'alcalinity_of_ash', 'magnesium', 'flavanoids', 'proanthocyanins', 'hue']
wine.columns = columns
print(wine.head())

   alcohol  malic_acid  alcalinity_of_ash  magnesium  flavanoids  \
0    13.20        1.78               11.2        100        2.76
1    13.16        2.36               18.6        101        3.24
2    14.37        1.95               16.8        113        3.49
3    13.24        2.59               21.0        118        2.69
4    14.20        1.76               15.2        112        3.39

   proanthocyanins   hue
0             1.28  1.05
1             2.81  1.03
2             2.18  0.86
3             1.82  1.04
4             1.97  1.05

### Step 6. Set the values of the first 3 rows from alcohol as NaN

In [20]:
import numpy as np

wine.iloc[:3, :] = np.nan
print(wine)

     alcohol  malic_acid  alcalinity_of_ash  magnesium  flavanoids  \
0        NaN         NaN                NaN        NaN         NaN
1        NaN         NaN                NaN        NaN         NaN
2        NaN         NaN                NaN        NaN         NaN
3      13.24        2.59               21.0      118.0        2.69
4      14.20        1.76               15.2      112.0        3.39
..       ...         ...                ...        ...         ...
172    13.71        5.65               20.5       95.0        0.61
173    13.40        3.91               23.0      102.0        0.75
174    13.27        4.28               20.0      120.0        0.69
175    13.17        2.59               20.0      120.0        0.68
176    14.13        4.10               24.5       96.0        0.76

     proanthocyanins   hue
0                NaN   NaN
1                NaN   NaN
2                NaN   NaN
3               1.82  1.04
4               1.97  1.05
..               ...   ...
172             1.06  0.64
173             1.41  0.70
174             1.35  0.59
175             1.46  0.60
176             1.35  0.61

[177 rows x 7 columns]

### Step 7. Now set the value of the rows 3 and 4 of magnesium as NaN

In [22]:
wine.loc[3:5, ['magnesium']] = np.nan
print(wine.head())

   alcohol  malic_acid  alcalinity_of_ash  magnesium  flavanoids  \
0      NaN         NaN                NaN        NaN         NaN
1      NaN         NaN                NaN        NaN         NaN
2      NaN         NaN                NaN        NaN         NaN
3    13.24        2.59               21.0        NaN        2.69
4    14.20        1.76               15.2        NaN        3.39

   proanthocyanins   hue
0              NaN   NaN
1              NaN   NaN
2              NaN   NaN
3             1.82  1.04
4             1.97  1.05

### Step 8. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium

In [23]:
wine['alcohol'].fillna(10, inplace=True)
wine['magnesium'].fillna(100, inplace=True)

print(wine.head())

   alcohol  malic_acid  alcalinity_of_ash  magnesium  flavanoids  \
0    10.00         NaN                NaN      100.0         NaN
1    10.00         NaN                NaN      100.0         NaN
2    10.00         NaN                NaN      100.0         NaN
3    13.24        2.59               21.0      100.0        2.69
4    14.20        1.76               15.2      100.0        3.39

   proanthocyanins   hue
0              NaN   NaN
1              NaN   NaN
2              NaN   NaN
3             1.82  1.04
4             1.97  1.05

### Step 9. Count the number of missing values

In [25]:
wine.isnull().sum()

alcohol              0
malic_acid           3
alcalinity_of_ash    3
magnesium            0
flavanoids           3
proanthocyanins      3
hue                  3
dtype: int64

### Step 10.  Create an array of 10 random numbers up until 10

In [27]:
random_numbers = np.random.randint(0, 10, size=10)
print(random_numbers)

[7 1 6 4 1 0 0 6 0 8]

### Step 11.  Use random numbers you generated as an index and assign NaN value to each of cell.

In [35]:
pd.DataFrame?

In [37]:
import numpy as np
import pandas as pd

np.random.seed(0)
index_values = np.random.randint(0, 10, size=10)
#print(index_values)

df = pd.DataFrame(index=index_values, columns=range(5), data=np.nan)

print(df)

    0   1   2   3   4
5 NaN NaN NaN NaN NaN
0 NaN NaN NaN NaN NaN
3 NaN NaN NaN NaN NaN
3 NaN NaN NaN NaN NaN
7 NaN NaN NaN NaN NaN
9 NaN NaN NaN NaN NaN
3 NaN NaN NaN NaN NaN
5 NaN NaN NaN NaN NaN
2 NaN NaN NaN NaN NaN
4 NaN NaN NaN NaN NaN

### Step 12.  How many missing values do we have?

In [38]:
df.isnull().sum()

0    10
1    10
2    10
3    10
4    10
dtype: int64

### Step 13. Delete the rows that contain missing values

In [39]:
df.dropna()

Empty DataFrame
Columns: [0, 1, 2, 3, 4]
Index: []

### Step 14. Print only the non-null values in alcohol

In [41]:
wine['alcohol'].notnull().sum()

177

### Step 15.  Reset the index, so it starts with 0 again

In [42]:
df.reset_index(drop=True, inplace=True)
df.head()

    0   1   2   3   4
0 NaN NaN NaN NaN NaN
1 NaN NaN NaN NaN NaN
2 NaN NaN NaN NaN NaN
3 NaN NaN NaN NaN NaN
4 NaN NaN NaN NaN NaN

### BONUS: Create your own question and answer it.

In [43]:
#What is the shape of the dataset?
df.shape

(10, 5)